{
  "branches": "master",
  "repositoryUrl": "https://github.com/SSI-Securities-Corporation/java-fctrading.git",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Java FC Trading"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "pom.xml",
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [{
          "name": "fctrading-client.jar",
          "path": "fctrading-client/target/*.jar"
        }]
      }
    ]
  ]
}